/* Default styling to all elements */
* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    height: auto;
}

/* Body styling */
body {
    background: #303030;
}

/* Heading styling */
h1,
h2 {
    color:#ffffff;
    text-align: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #b1d1f0;
    padding: 30px;
}

.heading h1 {
    font-size: 50px;
}

.heading h2 {
    font-size: 30px;
    padding-top: 10px;
}

/* Styling for various components*/
.start-btn,
.instructions-area,
.difficulty-area,
.category-area,
.game-area,
.result-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5 ease;
}

/* Styling for active state of components */
.instructions-area.active-info,
.difficulty-area.active-difficulty,
.category-area.active-category,
.game-area.active-game,
.result-area.active-result {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
}

/* Styling for start button */
.start-btn {
    font-size: 30px;
    font-weight: 600;
    border: 1px solid #ffffff;
    outline: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    background: #0078d4;
    color: #ffffff
}

.start-btn:hover {
    background: #005a9e;
}

@media only screen and (min-width: 1040px) {
    .start_btn:hover {
        background: #b1d1f0;
        color: rgb(3, 46, 103);
        transition: all 0.3s ease;
        box-shadow: 8px 8px 8px black;
    }
}


/* Styling for category area */
.category-area {
    padding: 20px;
    width: 60%;
    border-radius: 5px;
    opacity: 0;
    border: 1px solid #ffffff;
    background: #303030;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* Styling for category heading */
.category-area .category-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

/* Styling for difficutly area */
.difficulty-area {
    padding: 20px;
    width: 60%;
    border-radius: 5px;
    opacity: 0;
    border: 1px solid #ffffff;
    background: #303030;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* Styling for difficulty heading */
.difficulty-area .difficulty-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

/* Styling for instructions area */
.instructions-area {
    padding: 20px;
    width: 60px;
    border-radius: 5px;
    opacity: 0;
    border: 1px solid #ffffff;
    background: #303030;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* Styling for instructions heading */
.instructions-area .instructions-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

/* Styling for instructions list items */
.instructions-area .instructions-list .inst {
    height: 60px;
    width: 100%;
    margin: 5px 0;
    font-size: 20px;
    color: #ffffff;
}

/* Styling for span elements within instructions area */
.instructions-area span {
    padding: 0 5px;
    font-weight: 600;
    color: #00ff00;
}

/* Styling for buttons container */
.buttons {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
}

/* Styling for buttons */
.buttons button {
    margin: 30px 30px;
    padding: 5px;
    height: 60px;
    width: 150px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #0078d4;
}

.buttons  .quit {
    margin-top: auto;
}

.buttons button:hover {
    background: #005a9e;
}

@media only screen and (min-width: 1040px) {
    .buttons button:hover {
        background: #b1d1f0;
        transition: all .5s ease;
        box-shadow: 8px 8px 8px black;
        color: rgb(3, 46, 103);
    }
}

/* Styling for game area */
.game-area {
    min-width: 60%;
    background: #303030;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 10px 10px 15px black;
}

/* Styling for header within game area */
.game-area header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    height: 110px;
    padding: 0 30px;
    background: #303030;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0px 5px 2px grey;
}

/* Styling for title within game area header */
.game-area header .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ffffff;
}

/* Styling for total questions within game area header */
.game-area header .total-questions span {
    display: flex;
    user-select: none;
    font-size: 20px;
    font-weight: 600;
}

/* Styling for paragraphs within total questions span */
header .total-questions span p {
    font-weight: 500;
    padding: 0px 5px;
}

/* Styling for first child paragraph within total questions span */
header .total-questions span p:first-child {
    padding-left: 0px;
}

/* Styling for time line */
.time-line {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.time-line .progress {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid black;
}