@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
/* Default styling to all elements */
* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    height: auto;
}

/* Body styling */
body {
    background: #b1d1f0;
}

/* Heading styling */
h1,
h2 {
    color:#032E67;
    text-align: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #b1d1f0;
    padding: 30px;
}

.heading h1 {
    font-size: 50px;
}

.heading h2 {
    font-size: 30px;
    padding-top: 10px;
}

/* Styling for various components*/
.start-btn,
.instructions-area,
.difficulty-area,
.category-area,
.game_area,
.result-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5 ease;
}

/* Styling for active state of components */
.instructions-area.active-info,
.difficulty-area.active-difficulty,
.category-area.active-category,
.game_area.active-game,
.result-area.active-result {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
}

/* Styling for start button */
.start-btn {
    font-size: 30px;
    font-weight: 600;
    border: 1px solid #ffffff;
    outline: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    background: #0078d4;
    color: #ffffff
}

.start-btn:hover {
    background: #005a9e;
}

@media only screen and (min-width: 1040px) {
    .start-btn:hover {
        background: #b1d1f0;
        color: rgb(3, 46, 103);
        transition: all 0.3s ease;
        box-shadow: 8px 8px 8px black;
    }
}


/* Styling for category area */
.category-area {
    padding: 20px;
    width: 60%;
    border-radius: 5px;
    opacity: 0;
    border: 1px solid black;
    background: #E4E8FA;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* Styling for category heading */
.category-area .category-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    border-bottom: 1px solid green;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: 600;
    color: #032E67;
}

/* Styling for difficulty area */
.difficulty-area {
    padding: 20px;
    width: 60%;
    border-radius: 5px;
    opacity: 0;
    border: 1px solid black;
    background: #E4E8FA;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* Styling for difficulty heading */
.difficulty-area .difficulty-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    border-bottom: 1px solid green;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: 600;
    color: #032E67;
}

/* Styling for instructions area */
.instructions-area {
    padding: 20px;
    width: 60px;
    border-radius: 5px;
    opacity: 0;
    border: 1px solid black;
    background: #E4E8FA;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* Styling for instructions heading */
.instructions-area .instructions-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    border-bottom: 1px solid green;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: 600;
    color: #032E67;
}

/* Styling for instructions list items */
.instructions-area .instructions-list .inst {
    height: 60px;
    width: 100%;
    margin: 5px 0;
    font-size: 20px;
    color: #032E67;
}

/* Styling for span elements within instructions area */
.instructions-area span {
    padding: 0 5px;
    font-weight: 600;
    color: #00ff00;
}

/* Styling for buttons container */
.buttons {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
}

/* Styling for buttons */
.buttons button {
    margin: 30px 30px;
    padding: 5px;
    height: 60px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #032E67;
}

.buttons  .quit {
    margin-top: auto;
}

.buttons button:hover {
    background: #005a9e;
}

@media only screen and (min-width: 1040px) {
    .buttons button:hover {
        background: #b1d1f0;
        transition: all .5s ease;
        box-shadow: 8px 8px 8px black;
        color: #032e67;
    }
}

/* Styling for game area */
.game-area {
    min-width: 60%;
    background: #303030;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 10px 10px 15px black;
}

/* Styling for header within game area */
.game-area header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    height: 110px;
    padding: 0 30px;
    background: #303030;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0px 5px 2px grey;
}

/* Styling for title within game area header */
.game-area header .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ffffff;
}

/* Styling for total questions within game area header */
.game-area header .total-questions span {
    display: flex;
    user-select: none;
    font-size: 20px;
    font-weight: 600;
}

/* Styling for paragraphs within total questions span */
header .total-questions span p {
    font-weight: 500;
    padding: 0px 5px;
}

/* Styling for first child paragraph within total questions span */
header .total-questions span p:first-child {
    padding-left: 0px;
}

/* Styling for time line */
.time_line {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.time_line .progress {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid black;
}

.time_line .progress .progress_bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    background: linear-gradient(to left, #b1d1f0, #032E67);
    transition: width 0.25s ease;
}

.time_line .progress .progress_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* Test section styling */
.game_area .play_area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 30px 20px 30px;
    background: #E4E8FA;
}

.game_area .play_area .question_text {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.game_area .play_area .option_list {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.game_area .option_list li {
    background: #b1d1f0;
    border: 1px solid #032E67;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 30px;
    margin-right: 70px;
    margin-top: 50px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
    min-height: 100px;
    min-width: 150px;
    text-align: center;
    list-style-type: none;
}

.game_area .option_list .option:last-child {
    margin-bottom: 30px;
    margin-right: 0px;
}

/* option list in game area hover color */
@media only screen and (min-width: 1040px) {
    .game_area .option_list li:hover {
        background: #032E67;
        color: #fff;
        transition: all is ease;
        transform: scale(0.95);
    }
}

/* selecting correct answer and incorrect answer */
.option_list .option.correct {
    color: #175e1a;
    background: #64ad75;
    border-color: #03290c;
}

.option_list .option.incorrect {
    color: #721c24;
    background: #ed3545;
    border-color: #f5c6cb;
}

.option_list .option.disabled {
    pointer-events: none;
}

/* Game area Footer question and questions total in header */
.game-area footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer game area next button */ 
footer .next_btn {
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background: #032E67;
    color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 1040px) {
    footer .next_btn:hover {
        background: #b1d1f0;
        box-shadow: 8px 8px 8px black;
        color: #032E67;
    }
}

/* Results window styling */ 
.result-area {
    background: #E4E8FA;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 2px 2px 2px black;
}

.result-area .complete-text {
    font-size: 40px;
    font-weight: 500;
}

.result-area .percentage {
    font-size: 25px;
    font-weight: 500;
    background: linear-gradient(to left, #b1d1f0, #487EC5);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

.result-area .grade {
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(to left, #b1d1f0, #487ec5);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

.result-area .score-value span {
    display: flex;
    margin: 10px 10px;
    font-size: 20px;
    font-weight: 500;
}

.score-value span p {
    font-weight: 500;
    padding: 0 4px;
}

.percentage .grade span p {
    font-weight: 500;
    padding: 0 4px;
}

/* Footer styling */
.footer-basic {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 5px 0;
    background-color: #b1d1f0;
    color: #032E67;
}

.footer-basic #footer-li {
    padding: 0 10px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic #footer-li a {
    color: #032E67;
    text-decoration: none;
    opacity: 1;
    padding: 5px;
}

@media only screen and (min-width: 1040px) {
    .footer-basic #footer-li a:hover {
        opacity: 1;
    }
}

.footer-basic .social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

#footer-li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 38px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #032E67;
    margin: 0 20px;
    color: #032E67;
    opacity: 0.75;
}

@media only screen and (min-width: 1040px) {
    .footer-basic .social>a:hover {
        opacity: 0.9;
        transform: scale(0.9);
        color: #0f6bc7;
    }
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #032e67;
    margin-bottom: 0;
}

.copyright {
    font-family: Lato, sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {

    .heading h1 {
        font-size: 40px;
    }

    .heading h2 {
        font-size: 25px;
    }

    /* Hide header and footer */
    .header_maon.activeHeader {
        display: none;
    }

    .footer_basic.activeFooter {
        display: none;
    }

    .footer_basic {
        bottom: 10%;
    }

     /* Category area */
     #cat-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-top: 180px;
    }

    .category-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        padding: 5px;
    }

    .category-area {
        width: 90%;
        height: 85%;
        padding: 0px 20px;
    }

    /* Difficulty area */
    #diff_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-top: 130px;
    }

    .difficulty-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        padding: 5px;
    }

    .difficulty-area {
        width: 90%;
        height: 70%;
        padding: 0px 20px;
    }

     /* Instructions area*/
     .instructions-area {
        width: 90%;
        padding: 0px 20px;
    }

    .begin-btn {
        width: 100px;
    }

    .instructions-area .instructions-heading .difficulty-heading .category-heading {
        font-size: 20px;
        padding: 5px;
    }

    .instructions-area .instructions-list .inst {
        margin-bottom: 30px;
        margin-top: 20px;
        height: auto;
        font-size: 15px;
    }

    .buttons .genre-btn,
    button.game-btn,
    button.hardware-btn,
    button.history-btn {
        height: 70px;
        width: 160px;
    }

    h1 {
        margin-top: 0px;
        font-size: 20px;
        padding: 5px;
    }

    .heading {
        padding: 5px;
    }

    .game-area {
        width: 95%;
        box-shadow: 2px 2px 2px black;
    }

    .game-area .play_area {
        padding: 0px;
    }

    .game-area .play_area .question_text {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
        padding: 5px;
    }

    .game-area .play-area .option_list {
        padding: 0px 0px 15px 0px;
        display: block;
        min-width: 85%;
    }

    .game-area .option_list .option {
        padding: 5px 15px;
        margin-bottom: 5px;
        max-height: 100vh;
        margin-right: 0px;
        justify-content: center;
        margin-top: 30px;
        min-height: 0px;
        min-width: 0px;
    }

    .game-area .option_list .option:last-child {
        margin-bottom: 10px;
    }

    .game-area .option_list .option:first-child {
        margin-top: 10px;
    }

    .result-area {
        width: auto;
    }

    .quit {
        margin-top: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
    .instructions_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

}